@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

html,
body {
	font-family: "Roboto", sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

.appContainer {
	max-width: 900px;
	margin: 0 auto;
	padding: 15px;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.loader {
	text-align: center;
}
